* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  background: white;
  margin: 0;
  position: relative;
  padding-bottom: 91.78px;
  min-height: 100vh;
}
/*==============dark mode==============*/
.dark-mode {
  background-color: black;
  color: white;
}
/*===========navbar==================*/
.navbar {
  overflow: hidden;
  background-color:white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}
.navbar button{
	float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  border: 0 transparent;
  background-color: transparent;
  border-radius: 5px;
}
.navbar button:hover{
	background: black;
	color: white;
}
.navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}
.navbar a:hover {
  background: black;
  color: white;
}
.navbar .logo{
  float: left;
  padding: 0;
  border: 0;
  border-radius: 5px;
}
.navbar .logo:hover{
  background-color: white;
  color: black;
}
.navbar .logo img{
  width: 100%;
  height: 50PX;
}
.navbar .icon {
  display: none;
}
/*================search bar=============*/
form.example{
  margin:auto;
  max-width:25vw;
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px transparent;
  border-bottom: 1px black;
  float: left;
  width: 80%;
  background: white;
}
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: white;
  color: black;
  font-size: 17px;
  border: 1px transparent;
  border-left: none;
  cursor: pointer;
  border-radius: 5px;
}
form.example button:hover {
  background: black;
  color: white;
}
form.example::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 1270px){
 .navbar .example {
    float: none;
     display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    max-width: 100%
  }
  .navbar input[type=text] {
    border: 1px solid #ccc;  
  }
}
/*===============responsive navbar======================*/
@media screen and (max-width: 830px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
    width: 20%;
  }
  .navbar .logo{
    width: 50%;
  }
}
@media screen and (max-width: 830px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*================back to top========================*/
.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: black;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}
html{
  scroll-behavior: smooth;
}
/*===============blog template==================*/
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.leftcolumn {   
  float: left;
  width: 75%;
}
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
}
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}
.card a{
  padding: 10px;
  color: black;
}
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
/*===============about me==============*/
.column2 {
  float: left;
  /*width: 50%;*/
  padding: 0 10px;
  /*margin-bottom: 20px;*/
}
 .column2 {
    width: 100%;
    display: block;
    /*margin-bottom: 70px;*/
  }
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.card2 img {
  float: left;
  padding: 10px;
  border-radius: 50%;
  width: 100%;
}
.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    float: left;
    width: 100%;
  padding: 2px 16px;
  overflow: hidden;
}
/*==============popular post==============*/
.column3 {
  float: left;
  width: 100%;
  padding: 0 10px;
margin-bottom: 20px;
}
.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.card3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card3 a{
  width: 100%;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
}
.card3 a:hover {
  background: black;
  color: white;
} 
.card3 img {
  padding: 10px;
}
.container3 {
  padding: 2px 16px;
}
/*=========footer===============*/
.footer {
  padding: 20px;
  text-align: right;
  background: #ddd;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer a{
  float:left;
  padding: 20px;
  color: black;
}
@media screen and (max-width: 580px) {
  .footer{
    width: 100%;
    text-align: center;
  }
  .footer a{width: 33%;}
}