* {
  box-sizing: border-box;
}
#loading{
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url('../images/loading.gif') no-repeat center;
  z-index:9999;
}
body {
  font-family: Arial;
  background: white;
  margin: 0;
  position: relative;
  padding-bottom: 91.78px;
  min-height: 100vh;
}
/*===========dark mode===================*/
.dark-mode {
  background-color: black;
  color: white;
}
/*=============go to top====================*/
.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: black;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}
html{
  scroll-behavior: smooth;
}
/*====================create new=========*/
.createnew .tooltiptext {
  visibility: hidden;
  width: 70px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  /*padding: 5px 0;*/
  position: absolute;
  z-index: 1;
  display:inherit;
  font-size: 11px;
  line-height: 30px;
}

.createnew:hover .tooltiptext {
  visibility: visible;
}
.createnew{
  position: relative;
  position: fixed;
  width: 50px;
  height: 50px;
  background: black;
  bottom: 75px;
  right: 20px;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}
.createnew a{
  color: white;
}
/*===============navbar================*/
.navbar {
  overflow: hidden;
  background-color:white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}
.navbar button{
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  border: 0 transparent;
  background-color: transparent;
  border-radius: 5px;
}
.navbar button:hover{
  background: black;
  color: white;
}
.navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}
.navbar a:hover {
  background: black;
  color: white;
}
.navbar .logo{
  float: left;
  padding: 0;
  border: 0;
}
.navbar .logo:hover{
  background-color: white;
  color: black;
}
.navbar .logo img{
  width: 100%;
  height: 50PX;
  border-radius: 5px;
}
.navbar .icon {
  display: none;
}
@media screen and (max-width: 830px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
    width: 20%;
  }
  .navbar .logo{
    width: 50%;
  }
}
@media screen and (max-width: 830px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*============search bar===================*/
form.example{
  margin:auto;
  max-width:25vw;
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px transparent;
  border-bottom: 1px black;
  float: left;
  width: 80%;
  background: white;
}
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: white;
  color: black;
  font-size: 17px;
  border: 1px transparent;
  border-left: none;
  cursor: pointer;
  border-radius: 5px;
}
form.example button:hover {
  background: black;
  color: white;
}
form.example::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 1270px){
 .navbar .example {
    float: none;
     display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    max-width: 100%
  }
  .navbar input[type=text] {
    border: 1px solid #ccc;  
  }
 
}
/*==============cards styling starts===========*/
.row{
  padding: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.filterleftside{
  width: 20%;
  float: left;
  margin-top: 50px;
}
.filterleftside a{
  width: 100%;
  display: block;
  color: black;
  text-decoration: none;
  text-align: center;
}
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  /*width: 100%;*/
  border-radius: 5px;
  margin-top: 10px;
}
.btn:hover {
  background-color: #ddd;
}
.btn.active1 {
  background-color: #666;
  color: white;
}
@media screen and (max-width: 1270px){
.filterleftside{
  margin-top: 80px;
  }
}
@media screen and (max-width: 800px){
  .filterleftside{
  width: 100%;
  float: none;
  margin-top: 90px;
  padding: 0;
}
}
.leftcolumn {   
  float: left;
  width: 80%;
}
@media screen and (max-width: 800px) {
  .leftcolumn{   
    width: 100%;
    padding: 0;
  }
}
.container h1 , p{
  text-align: center;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=file], select, textarea {
  width: 89%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover {
  background-color: #45a049;
}
input[type=button] {
  background-color: orange;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}
input[type=button]:hover {
  background-color: #45a049;
}
.container {
  border-radius: 5px;
  background-color:transparent;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row2:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/*======footer==============*/
.footer {
  padding: 20px;
  text-align: right;
  background: #ddd;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer a{
  float:left;
  padding: 20px;
  color: black;
}
@media screen and (max-width: 580px) {
  .footer{
    width: 100%;
    text-align: center;
  }
  .footer a{width: 33%;}
}